mkdocs-material==9.5.2
mkdocs==1.5.3
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-git-revision-date-localized-plugin==1.2.2
mkdocs-git-committers-plugin-2==2.2.3
mkdocs-minify-plugin==0.7.1
mkdocs-macros-plugin==1.0.5
pymdown-extensions==10.7
pillow==10.2.0
cairosvg==2.7.1 